---
title: test display
---

%section#block
  %h1 Display block
  .first
    first
  .second
    second
  .third
    third

%section#inline
  %h1 Display inline
  .first
    first
  .second
    second
  .third
    third
%section#inline-block
  %h1 Display inline-block
  .first
    first
  .second
    second
  .third
    third
%section#float
  %h1 Display float
  .first
    first
  .second
    second
  .third
    third
